.navigation-board ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    height:70px;
    background-color: rgb(243, 66, 101);
  }
  .navigation-board{
    height:100vh;
    background: url("https://www.shutterstock.com/image-photo/cream-concreted-wall-interiors-outdoor-260nw-1692744547.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .result-box{
    background: rgba(0,0,0,0.1);
    justify-content: center;
    padding-top:3px;
    width:20%;
   border-radius:8px;
   margin-left: 100px;
  }
  .navigation-board li {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
  }
  
  .navigation-board li a {
    font-size: 23px;
    padding: 8px;
    text-decoration: none;
    color:rgba(3, 2, 6, 0.586);
    font-weight: 500;
  }
    .result-block {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .myblock1{
      margin:60px auto auto auto;
      display:block;
    }
    .myblock1 table {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      grid-template-columns: 
        minmax(100px, 170px)
        minmax(100px, 170px)
        minmax(100px,170px);
      box-shadow: 0 19px 38px rgba(178, 33, 33, 0.3);
      border-radius:30px;
      background-color: #f8f6ff;
    }
    .timeDiv1{
      margin-bottom:20px;
      flex-direction: row;
      border:1px solid #808080;
      padding:5px;
      font-weight: bold;
      width:fit-content;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left:5px solid crimson;
    }
    .myblock1 thead,
    .myblock1 tbody,
    .myblock1 tr {
      display: contents;
      border-left:1px solid #000;
    }
    .myblock1 th,
    .myblock1 td {
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      border-right:1px dashed rgb(255, 120, 120);
    }
    
    .myblock1 th {
      position: sticky;
      top: 0;
      background: rgb(243, 66, 101);
      text-align: left;
      font-weight: normal;
      font-size: 1.1rem;
      color: white;
      text-align: center;
    }
    .myblock1
    td:last-child{
      border-right: none;
    }
    .myblock1 th:last-child {
      border: 0;
    }
    .myblock1 td {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #808080;
      text-align: center;
    }
    .myblock1 tr:nth-child(even) td {
      background: #f8f6ff;
    }
    .theme-dark {
      background-color: #2a2e3b;
      color: white;
      height:100vh;
    }
    .theme-dark .form-1 h1,.theme-dark .form-1 label{
      color:white;
    }